VITE_FIREBASE_API_KEY=AIzaSyDFCbiRKCkgThnp5hBIkeylwx3mDmI5CoA
VITE_FIREBASE_AUTH_DOMAIN=shopperz-9d43f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shopperz-9d43f
VITE_FIREBASE_STORAGE_BUCKET=shopperz-9d43f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=111360795251
VITE_FIREBASE_APP_ID=1:111360795251:web:fe6849c33e4ffe3df24006
VITE_AI_ENDPOINT=
VITE_AI_AUTH_TOKEN=
